.landing-block-overview-ai {
	display: flex;
	padding: 36px 60px 15px 60px;
}

.landing-block-overview-title-content-ai {
	gap: 10px;
}

.landing-block-overview-title-icon-ai {
	width: 52px;
	height: 52px;
	--ui-icon-set__icon-size: 52px;
	--ui-icon-set__icon-color: var(--ui-color-design-filled-boost-stroke);
	background-color: var(--ui-color-copilot-bg-content-2);
}

.landing-block-overview-text-ai {
	max-width: 700px;
}

.landing-block-overview-btn-ai {
	padding: 7px 10px;
	--border-color: var(--ui-color-blue-57);
	color: var(--ui-color-blue-57);
	gap: 10px;
}

.landing-block-overview-btn-icon-ai {
	width: 24px;
	height: 24px;
	--ui-icon-set__icon-size: 24px;
	--ui-icon-set__icon-color: var(--ui-color-blue-57);
	background-color: var(--ui-color-blue-25);
	align-self: center;
}

.landing-block-overview-card-box-ai {
	width: 100%;
	background-color: var(--ui-color-copilot-bg-content-2);
	flex-wrap: wrap;
	align-items: stretch;
	gap: 10px;
	justify-content: center;
	overflow: hidden;
}

.landing-block-overview-card-ai {
	width: 220px;
	border: 2px solid;
	--border-color: var(--ui-color-copilot-bg-content-2);
	background: var(--ui-color-white-base);
	gap: 10px;
	overflow: hidden;
	transition: border-color 0.2s linear, box-shadow 0.1s linear;
}

.landing-block-overview-card-content-ai {
	color: var(--ui-color-base-0);
	align-items: start;
	gap: 10px;
}

.landing-block-overview-card-title-content-ai {
	width: 100%;
}

.landing-block-overview-card-title-ai {
	min-height: 44px;
	max-width: 154px;
	color: var(--ui-color-base-0);
	letter-spacing: 0;
}

.landing-block-overview-card-title-more-ai {
	display: inline-block;
	--ui-icon-set__icon-color: var(--ui-color-design-filled-boost-stroke);
	visibility: hidden;
	opacity: var(--ui-opacity-none);
	transition: opacity 0.2s linear;
}

.landing-block-overview-card-img-ai {
	width: 195px;
	height: 129px;
	margin-top: auto;
	align-self: end;
	flex-shrink: 0;
	background-size: 195px 129px;
	background-repeat: no-repeat;
}

.landing-block-overview-card-img.--ai-img-1 {
	background-image: url(https://cdn.bitrix24.site/bitrix/images/landing/vibe/ent-west-v2/overview/ai/1.png);
}

.landing-block-overview-card-img.--ai-img-2 {
	background-image: url(https://cdn.bitrix24.site/bitrix/images/landing/vibe/ent-west-v2/overview/ai/2.png);
}

.landing-block-overview-card-img.--ai-img-3 {
	background-image: url(https://cdn.bitrix24.site/bitrix/images/landing/vibe/ent-west-v2/overview/ai/3.png);
}

.landing-block-overview-card-img.--ai-img-4 {
	background-image: url(https://cdn.bitrix24.site/bitrix/images/landing/vibe/ent-west-v2/overview/ai/4.png);
}

.landing-block-overview-card-ai:hover {
	border: 2px solid;
	--border-color: var(--ui-color-design-filled-boost-stroke);
	box-shadow: 0 6px 12px 0 color-mix(in srgb, var(--ui-color-base-0) 15%, transparent);
}

.landing-block-overview-card-ai:hover .landing-block-overview-card-title-ai {
	color: var(--ui-color-design-filled-boost-stroke);
}

.landing-block-overview-card-ai:hover .landing-block-overview-card-title-more-ai {
	color: var(--ui-color-design-filled-boost-stroke);
	visibility: visible;
	opacity: var(--ui-opacity-full);
}
